<odoo>
    <data>

        <record id="lms_slide_channel_action_overview" model="ir.actions.act_window">
            <field name="name">All Courses</field>
            <field name="path">elearning</field>
            <field name="res_model">slide.channel</field>
            <field name="view_mode">kanban,list,form</field>
            <field name="view_id" ref="website_slides.slide_channel_view_kanban"/>
            <field name="help" type="html">
                <p class="o_view_nocontent_smiling_face">
                    <strong>Create a course</strong>
                </p>
                <p>
                    Your eLearning platform starts here!<br/>
                    Upload content, set up rewards, manage attendees...
                </p>
            </field>
        </record>

        <record model="ir.actions.act_window" id="lms_action_event_type">
            <field name="name">Event Templates</field>
            <field name="res_model">event.type</field>
            <field name="help" type="html">
                <p class="o_view_nocontent_smiling_face">
                    Create an Event Template
                </p><p>
                    Event Templates combine configurations you use often and are
                    usually based on the types of events you organize (e.g. "Workshop",
                    "Roadshow", "Online Webinar", etc).
                </p>
            </field>
        </record>

        <record model="ir.actions.act_window" id="lms_action_event_view">
           <field name="name">Occasions</field>
           <field name="path">occasions</field>
           <field name="res_model">event.event</field>
           <field name="view_mode">kanban,calendar,list,form,pivot,graph,activity</field>
           <field name="search_view_id" ref="event.view_event_search"/>
           <field name="help" type="html">
              <p class="o_view_nocontent_smiling_face">
                Create an Event
              </p><p>
                Schedule and organize your events: handle registrations, send automated confirmation emails, sell tickets, etc.
              </p>
            </field>
        </record>

        <menuitem name="Learning Management System" id="menu_lms" sequence="55">
            <menuitem id="menu_lms_courses" name="Courses" action="event_elearning.lms_slide_channel_action_overview" sequence="1"/>
            <menuitem id="menu_lms_course_catalog" name="Course Catalog" action="event_elearning.lms_action_event_type" sequence="2"/>
            <menuitem id="menu_lms_occasions" name="Occasions" action="event_elearning.lms_action_event_view" sequence="3"/>
            <menuitem id="menu_reports" name="Reports" sequence="4">
            </menuitem>
            <menuitem id="configuration" name="Configuration" sequence="5"/>
        </menuitem>
        
        <menuitem id="menu_separator_courses_report" name="Course Reports" sequence="1" parent="menu_reports"/>
        <menuitem id="menu_separator_occation_report" name="Occation Reports" sequence="2" parent="menu_reports"/>
        
        
        
        <menuitem id="menu_separator_courses" name="Course configuration" sequence="1" parent="configuration"/>
        <menuitem id="meny_slide_settings" name="Course Settings" action="website_slides.website_slides_action_settings" sequence="2" parent="menu_separator_courses"/>
        <menuitem id="menu_course_groups" name="Course Groups" action="website_slides.slide_channel_tag_group_action" sequence="3" parent="menu_separator_courses"/>
        <menuitem id="menu_course_tags" name="Course Tags" action="website_slides.action_slide_tag" sequence="4" parent="menu_separator_courses"/>

        <menuitem id="menu_separator_occation" name="Occation configuration" sequence="5" parent="configuration"/>
        <menuitem id="meny_event_settings" name="Course Occasion Settings" action="event.action_event_configuration" sequence="6" parent="menu_separator_occation"/>
        <menuitem id="meny_event_stage_action" name="Course Stages" action="event.event_stage_action" sequence="7" parent="menu_separator_occation"/>
        <menuitem id="meny_event_tag_category_action_tree" name="Course Occasion Categories" action="event.event_tag_category_action_tree" sequence="8" parent="menu_separator_occation"/>
        <menuitem id="meny_event_action_event_mail" name="Email Triggers" action="event.action_event_mail" sequence="9" parent="menu_separator_occation"/>
    </data>

</odoo>
