<odoo>
    <data>

        <record id="lms_slide_channel_action_overview" model="ir.actions.act_window">
            <field name="name">All Courses</field>
            <field name="path">elearning</field>
            <field name="res_model">slide.channel</field>
            <field name="view_mode">kanban,list,form</field>
            <field name="view_id" ref="website_slides.slide_channel_view_kanban"/>
            <field name="help" type="html">
                <p class="o_view_nocontent_smiling_face">
                    <strong>Create a course</strong>
                </p>
                <p>
                    Your eLearning platform starts here!<br/>
                    Upload content, set up rewards, manage attendees...
                </p>
            </field>
        </record>

        <record model="ir.actions.act_window" id="lms_action_event_type">
            <field name="name">Event Templates</field>
            <field name="res_model">event.type</field>
            <field name="help" type="html">
                <p class="o_view_nocontent_smiling_face">
                    Create an Event Template
                </p><p>
                    Event Templates combine configurations you use often and are
                    usually based on the types of events you organize (e.g. "Workshop",
                    "Roadshow", "Online Webinar", etc).
                </p>
            </field>
        </record>

        <record model="ir.actions.act_window" id="lms_action_event_view">
           <field name="name">Occasions</field>
           <field name="path">occasions</field>
           <field name="res_model">event.event</field>
           <field name="view_mode">kanban,calendar,list,form,pivot,graph,activity</field>
           <field name="search_view_id" ref="event.view_event_search"/>
           <field name="help" type="html">
              <p class="o_view_nocontent_smiling_face">
                Create an Event
              </p><p>
                Schedule and organize your events: handle registrations, send automated confirmation emails, sell tickets, etc.
              </p>
            </field>
        </record>

        <menuitem name="Learning Management System" id="menu_lms" sequence="55">
            <menuitem id="menu_lms_courses" name="Courses" action="event_elearning.lms_slide_channel_action_overview" sequence="1"/>
            <menuitem id="menu_lms_course_catalog" name="Course Catalog" action="event_elearning.lms_action_event_type" sequence="2"/>
            <menuitem id="menu_lms_occasions" name="Occasions" action="event_elearning.lms_action_event_view" sequence="3"/>
        </menuitem>
    </data>

</odoo>